@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --web-primary-color: #008ec4;
  --header-title-font-size: clamp(32px, calc(3.2vw + 1rem), 1000px);
  --header-sub-title-font-size: clamp(19px, calc(1.2vw + 1rem), 1000px);
  --header-padding-big-x: clamp(10px, calc(2.5vw + 1rem), 100px);
  --header-padding-big-y: clamp(10px, calc(1.5vw + 1rem), 100px);
  --primary-border-width: clamp(2px, calc(0.1vw + 0.1rem), 100px);
  --search-place-grid-gap: clamp(10px, calc(1vw + 0.5rem), 1000px);
  --input-field-name-font-size: clamp(18px, calc(1vw + 1rem), 1000px);
  --input-field-font-size: clamp(16px, calc(0.9vw + 0.9rem), 1000px);
  --input-field-padding-x: clamp(6px, calc(0.4vw + 0.2rem), 100px);
  --input-field-padding-y: clamp(3px, calc(0.2vw + 0.2rem), 100px);
  --input-icon-font-size: clamp(17px, calc(1vw + 0.9rem), 1000px);
  --header-search-btn-font-size: clamp(16px, calc(1vw + 0.5rem), 1000px);
  --header-search-btn-padding-x: clamp(6px, calc(0.6vw + 0.3rem), 100px);
  --header-search-btn-padding-y: clamp(6px, calc(0.4vw + 0.3rem), 100px);
  --header-search-btn-border-radius: clamp(5px, calc(0.5vw + 0.3rem), 100px);
  --form-container-shadow: #008ec430;
  --header-border-radius: clamp(10px, calc(2vw + 0.5rem), 1000px);
  --primary-h2-font-size: clamp(24px, calc(1.7vw + 1rem), 1000px);
  --primary-h3-font-size: clamp(18px, calc(0.9vw + 0.7rem), 1000px);
  --primary-p-font-size: clamp(16px, calc(0.7vw + 0.7rem), 1000px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ==============================> Reuseable CSS Style <============================== */
.row {
  width: 80%;
  margin: 0 auto;
}

section > div {
  padding-top: clamp(50px, calc(7vw + 1rem), 1000px);
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: var(--primary-h2-font-size);
  font-weight: 800;
}
/* ==============================> Start Header Section <============================== */
.header-container {
  width: 100%;
  height: 98vh;
}

.header-top,
.header-bottom {
  position: relative;
  height: 50%;
}

.header-top {
  background-image: url("../assets/home-page/header-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 999;
}

.header-top-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header-top-content .header-title {
  height: 100%;
  background-color: #fff;
  padding: var(--header-padding-big-y) var(--header-padding-big-x);
  border-radius: var(--header-border-radius) var(--header-border-radius) 0 0;
}

.header-title .title {
  font-size: var(--header-title-font-size);
  font-weight: 600;
  line-height: 1;
  color: var(--web-primary-color);
}

.header-title .sub-title {
  font-size: var(--header-sub-title-font-size);
  font-weight: 500;
  line-height: 1;
  padding-top: clamp(5px, calc(0.4vw + 0.2rem), 100px);
}

.header-bottom {
  z-index: 888;
}

.header-bottom-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-form-container {
  height: 100%;
  padding: var(--header-padding-big-y) var(--header-padding-big-x);
  padding-top: 0;
  box-shadow: 0 0 1vw var(--form-container-shadow),
    0 0 2vw var(--form-container-shadow), 0 0 3vw var(--form-container-shadow);
  border-radius: 0 0 var(--header-border-radius) var(--header-border-radius);
}

.header-form-container .fieldset {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--primary-border-width) solid #0000004d;
  border-radius: var(--header-border-radius);
}

.search-place-form {
  width: 70%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--search-place-grid-gap);
}

.form-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-item .input-field {
  width: 100%;
}

.form-item .input-field .field-name {
  font-size: var(--input-field-name-font-size);
  font-weight: 500;
  padding-bottom: 0.2vw;
}

.input-field .input-with-icon {
  display: flex;
  align-items: center;
  border-bottom: var(--primary-border-width) solid #0000004d;
}

.input-field .input-with-icon input {
  width: 100%;
  font-size: var(--input-field-font-size);
  background-color: transparent;
  padding: var(--input-field-padding-y) var(--input-field-padding-x);
  border: none;
}

.input-field .input-with-icon input:focus-within {
  outline: none;
}

.input-field .input-with-icon i {
  font-size: var(--input-icon-font-size);
  padding: 0 var(--input-field-padding-x);
  color: #00000080;
}

.form-item .search-btn {
  width: 100%;
}

.form-item .search-btn button {
  width: 100%;
  font-size: var(--header-search-btn-font-size);
  font-weight: 500;
  background-color: var(--web-primary-color);
  color: #fff;
  border: none;
  padding: var(--header-search-btn-padding-y) var(--header-search-btn-padding-x);
  border-radius: var(--header-search-btn-border-radius);
}

.form-item .search-btn button:hover {
  cursor: pointer;
}
/* ==============================> end Header Section <============================== */

/* ==============================> Start Choose Us Section <============================== */
.choose-us-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(20px, calc(1vw + 1rem), 100px);
  padding-top: clamp(28px, calc(2.5vw + 1rem), 1000px);
}

.choose-us-card:nth-child(1) {
  grid-column: 1 / span 4;
}

.choose-us-card:nth-child(2) {
  grid-column: 5 / span 4;
}

.choose-us-card:nth-child(3) {
  grid-column: 9 / span 4;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(14px, calc(1vw + 1rem), 100px);
}

.icon-container .icon {
  width: clamp(45px, calc(3.5vw + 1rem), 1000px);
  height: clamp(45px, calc(3.5vw + 1rem), 1000px);
  background-color: var(--form-container-shadow);
  color: var(--web-primary-color);
  border-radius: clamp(5px, calc(.3vw + .2rem), 1000px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container .icon i {
  font-size: clamp(22px, calc(1.5vw + 0.5rem), 1000px);
}

.card-info {
  text-align: center;
}

.card-info .title {
  font-size: var(--primary-h3-font-size);
  font-weight: 700;
  padding-bottom: clamp(7px, calc(0.3vw + 0.5rem), 100px);
  line-height: 1;
}

.card-info .description {
  font-size: var(--primary-p-font-size);
  line-height: clamp(20px, calc(1vw + .9rem), 1000px);
}
/* ==============================> end Choose Us Section <============================== */
